aiohttp
aiobotocore[boto3,awscli]==1.0.7
pyyaml
wget
requests
datacube
numpy
scipy
pandas<2.0.0
xarray
rioxarray
rasterio
geopandas
geocube
distributed
dask
netCDF4
h5netcdf
flask
dea-tools
gunicorn
opencv-python
openeo-processes-dask[implementations,ml]
openeo-pg-parser-networkx
